h1  {
   color: purple;
   background: greenyellow;
 
   
    text-align: center;
}

body    {
    color: blue;
    background: red;
    background-image: linear-gradient(green, purple);
}

form {
    background: yellow;
    text-align: center;
}

p {
    color: darkred;
    text-align: center;
    font-size: 48px;
}